<div class="searchbody">
    <div class="searchtitle">
        <h1>
            <b style="color: green">M</b>
            <b style="color: red">O</b>
            <b style="color:gold">V</b>
            <b style="color: black">I</b>
            <b style="color: orange">E</b>
            <b style="color: green">&nbsp;</b>
            <b style="color: blue">S</b>
            <b style="color: purple">E</b>
            <b style="color: aqua">A</b>
            <b style="color:brown">R</b>
            <b style="color:coral">C</b>
            <b style="color:darkseagreen">H</b>
        </h1>
    </div>

    <div class="list-body">
        <div class="container">
            <div class="row">
                <div class="movlist col-md-12">
                    <div class="searchInputGroup">
                        <div class="searchIcon">
                            <img src="assets/images/filter.png">
                        </div>
                        <input class="searchInput" type="text" placeholder="Search movies" [(ngModel)]="searchString"
                            (ngModelChange)="onChange()">
                    </div>
                </div>
                <div [class.col-md-3]="showDetails" [class.col-md-12]="!showDetails" [class.movlist]="hasMovies == 'true'">
                    <div class="searchInputGroup" *ngIf="hasMovies == 'true'">
                        <input class="filterInput" type="text" placeholder="Filter movies" [(ngModel)]="filterString"
                            (ngModelChange)="onFilter()">
                    </div>
                    <div *ngIf="hasMovies == 'true'">
                        <!-- <div class="card" *ngFor="let movie of movies | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }"
                            (click)="showMovieDetails(movie)"> -->
                        <div class="card" *ngFor="let movie of moviesFilter" (click)="showMovieDetails(movie)">
                            <div class="card-body">
                                <div class="row">
                                    <span class="card-title col-sm-8">{{movie?.Title}}</span>
                                    <span [id]="movie?.imdbID" class="selecticon col-sm-4"><i class="fa fa-2x fa-star"></i></span>
                                </div>
                                <p class="card-text">{{movie?.Year}}</p>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="movies?.length" class="container pagina">
                        <span class="leftarrow" [class.disablearrow]="pageNumber == 1" (click)="pageNumber &gt; 1 && pagePre()"><i
                                class="fa fa-caret-left fa-3x"></i></span>
                        <span class="pagenumber">Page {{pageNumber}}</span>
                        <span class="rightarrow" [class.disablearrow]="pageNumber == pageNumberTotal" (click)="pageNumber &lt; pageNumberTotal && pageNext()"><i
                                class="fa fa-caret-right fa-3x"></i></span>
                    </div>
                    <div class="card-result" [hidden]="!movies?.length">{{total}} results</div>
                    <div class="noResult-wrapper" *ngIf="hasMovies == 'false'">
                        <div class="top-divider"></div>
                        <div>No results found</div>
                        <div>Sorry, that filter combination has no results.<br>Please try different criteria.</div>
                    </div>
                </div>

                <div class="col-md-9 movlist" *ngIf="showDetails">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 movieinfo">
                            <div>
                                <h3>{{movieDetail?.Title}}</h3>
                            </div>
                            <div class="moviegenre">
                                {{movieDetail?.Genre}}
                            </div>
                            <div class="movieplot">
                                Movie plot - {{movieDetail?.Plot}}
                            </div>
                            <div class="movietips">
                                <b>Language: </b>{{movieDetail?.Language}}<br>
                                <b>Director: </b>{{movieDetail?.Director}}<br>
                                <b>Actors: </b>{{movieDetail?.Actors}}<br>
                                <b>Duration: </b>{{movieDetail?.Runtime}}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 movieposter">
                            <img src="{{movieDetail?.Poster}}" *ngIf="movieDetail?.Poster != 'N/A'">
                            <img src="assets/images/placeholder.png" width="300" height="422" *ngIf="movieDetail?.Poster == 'N/A'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>